/* 會員註冊與登入 css 檔案*/
/* ========== 全局設定 ========== */

*{
  font-family: "Noto Sans TC", sans-serif;
}


/* ========== 登入與註冊面板設定 ========== */

/* 登入大面板 */
.modal {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  font-family: "Noto Sans TC", sans-serif;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

/* 加入伸縮(zoom)特效 */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

/* 登入與註冊面板 */

.container_Login form {
  background-color: #fafaf0;
  font-family: "Noto Sans TC", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.container_Login {
  background-color: #fafaf0;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 20%;
  width: 700px;
  /* max-width: 100%; */
  min-height: 500px;
}

.container_Login h1 {
  font-size: 26px;
  letter-spacing: 3px;
  margin: 0;
}

.container_Login p {
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.container_Login button {
  border-radius: 25px;
  border: 1px solid #818181;
  background-color: #818181;
  color: #FFFFFF;
  font-size: 16px;
  letter-spacing: 3px;
  padding: 10px 35px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin-top: 25px;
}

.container_Login button:hover {
  background-color: #979797;
  color: #ffffff;
}

.container_Login button:active {
  transform: scale(0.95);
}

.container_Login button:focus {
  outline: none;
}

.container_Login button.registerLoginBtn {
  background-color: #d6d2c8;
  color: #644623;
}


.container_Login input {
  background-color: #eee;
  border: none;
  border-radius: 5px;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  font-size: 14px;
}


.form-container {
  font-family: "Noto Sans TC", sans-serif;
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
  font-family: "Noto Sans TC", sans-serif;
}

.container_Login.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container_Login.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {

  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

/* ========== 過度後旁邊的面板樣式設定 ========== */

/* 整體過度頁面容器 */
.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container_Login.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: #88746c;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #FFFFFF;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container_Login.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
  background-color: #81766c;
  color: #e2e0d6;
  font-weight: 800;
}

.container_Login.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
  background-color: #81766c;
  color: #e2e0d6;
  font-weight: 800;
}

.container_Login.right-panel-active .overlay-right {
  transform: translateX(20%);
}



