/* 全局設定 */
body {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* 滑動至頂部按鈕 */
.slider {
  position: fixed;
  bottom: 40px;
  right: 27px;
  width: 50px;
  height: 50px;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.top {
  width: 42px;
  height: 42px;
  color: rgb(172, 186, 198);
  transition: all 0.3s ease;
  font-weight: 600;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top:hover {
  font-size: 60px;
  bottom: 35px;
  right: 22px;
  width: 70px;
  height: 70px;
  transition: 0.3s;
  color: #333333;
}

/* 中間選單 */
.CategoryList_Container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.list {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: center;
  align-items: flex-end;
}

.list label {
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 50px;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
  color: rgb(0, 0, 0);
  z-index: 12;
}

/* 按鈕樣式 */
.modify,
.record{
  background-color: #ada090;
  margin-right: 25px;
  border-radius: 20px;
  border: 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modify .title,
.record .title {
  color: #fff;
  font-weight: 800;
}

#modify:checked~.text-content .modify,
#record:checked~.text-content .record {
  display: block;
}

.content input {
  display: none;
}

/* 內容樣式 */
.content .text-content {
  width: 70%;
  height: 100%;
}

.content .text {
  display: none;
}

.content .text .title {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 500;
}

.content .text p {
  text-align: justify;
}

/* 個人與訂單資料 */
.OrderInfo_Container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container2 {
  position: relative;
  min-height: 500px;
  width: 950px;
  margin-bottom: 50px;
  background-color: #f0ece8;
  border-radius: 30px;
  overflow: hidden;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* 容器 */
.OrderAndProduct_Container {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 500px;
  background-color: #f0ece8;
  border-radius: 30px;
  padding: 20px;
  overflow: auto;
}

.text-content input {
  display: block;
}

.p-table {
  position: absolute;
  top: 80px;
}

.p-table td {
  padding: 10px;
  font-size: 18px;
  line-height: 24px;
}

.t-left {
  text-align: right;
  margin-right: 30px;
}

/* 訂單管理 */
.order-container {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  padding: 20px;
  width: 100%;
  max-width: 800px;
  justify-content: center;
}

.order-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.order-header label {
  font-weight: bold;
}

.order-status {
  color: rgb(227, 20, 20);
}

.order-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.order-table th,
.order-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.order-table th {
  background-color: #f2f2f2;
}

.order-footer {
  text-align: right;
  font-weight: bold;
  margin-top: 10px;
}

/* 商品管理 */
.record.text {
  background: none; /* 移除此行 */
}

.r-table {
  width: 100%;
  border-collapse: collapse;
  background: none;
}

.r-table th {
  font-size: 18px;
  letter-spacing: 1px;
  padding-bottom: 10px;
  text-align: left;
  color: black; /* 改变标题的字体颜色 */
}

.r-table td {
  font-size: 16px;
  letter-spacing: 1px;
  padding: 5px 0px;
  color: black; /* 改变单元格的字体颜色 */
}

.r-table td span {
  font-size: 13px;
  letter-spacing: 1px;
  color: black; /* 改变span的字体颜色 */
}

.storenumber {
  width: 40px;
}

.dis {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 13px;
}