section{
    width: 100%;
    height: 100%;
    padding-top: 150px;
}

.order{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width:1000px;
    padding: 50px 100px;
    margin-bottom: 40px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
}
.order h1{
    font-size: 24px;
    letter-spacing: 3px;
}
.order table{
    width: 100%;
    border-collapse: collapse;
    border-bottom: 1px solid black;
    text-align: center;
    margin-top: 10px;
}
.order table td{
    font-family: 'GenRyuMin-M';
    letter-spacing: 1px;
}
.or-title{
    height: 40px;
    border-bottom: 1px solid black;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1px;
}
.order table img{
    width: 150px;
}
.or-img{
    width: 200px;
}
.or-txt{
    width: 250px;
    text-align: left;
}
.order h3{
    font-size: 16px;
    line-height: 24px;
}
.order p{
    font-size: 15px;
}



.checktotal{
    position:relative;
    text-align: right;
    margin-top: 25px;
    margin-right: 40px;
}
.checktotal p{
    font-family: 'GenRyuMin-M';
    letter-spacing: 1px;
    font-size: 16px;
}
.checktotal span{
    margin-right: 50px;
}



.buyer{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
    padding: 50px 100px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
}
.buyer h1{
    font-size: 24px;
    letter-spacing: 3px;
}
.buyer-2{
    display: flex;
    margin-top: 20px;
}
.buyer-2 input{
    letter-spacing: 3px;
}
.buyer-form{
    margin-top: 5px;
}
.buyer-form input{
    margin-bottom: 10px;
    width: 300px;
    padding: 10px 10px;
}
.sentway{
    margin-left: 30px;
}

.sentway select{
    margin-top: 5px;
    width: 140px;
    padding: 10px 10px;

}
.sentway textarea{
    width: 280px;
    height: 140px;
    resize: none;
    padding: 10px 10px;
    margin-top: 10px;
}

.payway{
    margin-left: 30px;
}
.pay-form{
    margin-top: 5px;
    line-height: 25px;
}


.c-click{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    border: none;
    font-family: 'Mukta', sans-serif;
    font-size: 14px;
    letter-spacing: 3px;
    width: 220px;
    height: 40px;
    color: #fff;
    background-color: #353535;
    border: 1px solid #353535;
    transition: .3s;
    margin: 30px 0px 100px;
}
.c-click:hover{
    cursor: pointer;
    color: #000;
    background: none;
}



.foot{
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: rgb(243, 243, 243);
    text-align: center;
    align-items: center;          /*置中*/
    justify-content: center;      /*置中*/
    padding: 35px;
  }
  .foot p{
    font-size: 12px;
    letter-spacing: 1px;
  }


  @media screen and (max-width: 450px) {
    .order{
        width: 100%;
        padding: 20px;
        border-radius: 0px;
    }
    .order h1{
        font-size: 18px;
    }
    .or-title{
        font-size: 14px;
    }
    
    .order table td{
        font-size: 12px;
        /* width: 20%; */
    }
    .order table img{
        width: 80px;
        /* display: none; */
    }
    .or-img{
        width: 100px;
    }
    .or-txt{
        width: 30%;
        text-align: left;
    }
    .order h3{
        font-size: 12px;
        line-height: 18px;
    }
    .order p{
        font-size: 12px;
    }
    .checktotal{
        margin-top: 15px;
        margin-right: 2%;
    }
    .checktotal p{
        font-size: 12px;
    }
    .checktotal span{
        margin-right: 10%;
    }
    .buyer{
        width: 100%;
        padding: 20px;
        border-radius: 0px;
    }
    .buyer h1{
        font-size: 18px;
    }
    .buyer-2{
        display: inline-block;
        width: 100%;
    }
    .buyer-form input{
        width: 100%;
    }
    .sentway{
        margin-left: 0px;
        margin-top: 20px;
    }
    .sentway select{
        margin-top: 5px;
        width: 140px;
        padding: 10px 10px;
    }
    .sentway textarea{
        width: 100%;
        height: 80px;
    }
    
    .payway{
        margin-left: 0px;
        margin-top: 20px;
    }
    .pay-form{
        margin-top: 5px;
        line-height: 25px;
    }
    .c-click{
        font-size: 12px;
        margin: 30px 0px 50px;
    }

}