@font-face {
    font-family: 'GenRyuMin-B';
    src:
    url('../font/GenRyuMinTW-Bold.ttf') format("truetype"),
    url('/fonts/Helvetica.eot') format("embedded-opentype");
}
@font-face {
    font-family: 'GenRyuMin-R';
    src:
    url('../font/GenRyuMinTW-Regular.ttf') format("truetype"),
    url('../font/GenRyuMinTW-Regular') format("embedded-opentype");
}
@font-face {
    font-family: 'GenRyuMin-M';
    src:
    url('../font/GenRyuMinTW-Medium.ttf') format("truetype"),
    url('../font/GenRyuMinTW-Medium') format("embedded-opentype");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'GenRyuMin-M';
}
body{
    min-height: 100vh ;
    font-family: 'GenRyuMin-M';
}



/*=============首圖=============*/
.s1{
    position: relative;
    width: 100%;
    height: 100vh;
    /* background-color: #dfdfdf; */
    padding: 25px;
    overflow: hidden;
}

.con1{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #b6b6b6; */
    padding: 20px;
    overflow: hidden;
}
.con1 img#b1{               /* 首圖背景 */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
}
.con1 img#bt1{              /* 首圖背景文字 */
    position: absolute;
    width: 100%;
    object-fit: cover;
    opacity: 0.7;
    animation:TestMove 15s none; /*IE跑馬燈*/
    -moz-animation:TestMove 15s none; /*FireFox跑馬燈*/
    -webkit-animation:TestMove 15s none; /*Chrome, Safari跑馬燈*/
    /* animation-timing-function: linear; */
    animation-timing-function:ease-out
}
#btt1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;    
    display: flex;
    justify-content: center;
    align-items: center;
}
/*跑馬燈*/
@keyframes TestMove{
    from {left: 93%;}
    to {left: 0%;}
}
@-moz-keyframes TestMove{
    from {left: 93%;}
    to {left: 0%;}
}
@-webkit-keyframes TestMove{
    from {left: 93%;}
    to {left: 0%;}
}

/*相機幻燈片*/
#c1{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
#c1 img{
    /* text-align: center; */
    width: 40%;
    height: 100%;
    z-index: 4;
}
.mySlides {
    display:none;
}

.con1-1{
    position: absolute;
    top: 0;
    left: 0;
}
.c-logo{
    position: absolute;
    top: 15px;
    width: 15%;
    z-index: 10;
}
/* .c-logo2{
    position: absolute;
    top: 50px;
    left: 150px;
    width: 230px;
    z-index: 10;
} */
/* .st1{
    position: absolute;
    top: 30px;
    left: 100px;
    width: 300px;
    z-index: 10;
}
.st2{
    position: absolute;
    top: 450px;
    right: 30px;
    width: 200px;
    opacity: 0.8;
    z-index: 10;
} */


.con1 img#bb1{
    position: absolute;    
    top: 0;
    left: 0;
    width: 100%;    
    object-fit: cover;
}
.t1{
    position: absolute;
    top: 60px;
    right: 70px;
    /* background-color: rgb(241, 241, 241); */
}
.t1 h1{
    font-family: 'Mukta', sans-serif;
    font-size: 28px;
    letter-spacing: 5px;
    line-height: 35px;
    color: rgb(85, 85, 85);
}
.t1 h2{
    font-family: 'GenRyuMin-M';
    font-size: 36px;
    /* letter-spacing: 5px; */
    line-height: 50px;
    color: rgb(85, 85, 85);
}
.t1 p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    letter-spacing: 3px;
    line-height: 28px;
    color: rgb(85, 85, 85);
}

/* 左上地址 */
.t2{
    position: absolute;
    top: 50px;
    left: 50px;
    writing-mode: vertical-rl;
}
.t2 p{
    font-family: 'GenRyuMin-M';
    font-size: 13px;
    letter-spacing: 5px;
    line-height: 35px;
    color: rgb(85, 85, 85);
    vertical-align: middle;
}

/* 右下角contact */
.t3{
    position: fixed;
    bottom: 130px;
    right: 70px;
    writing-mode: vertical-lr;
    display: flex;
    z-index: 1;
}
.t3 p{
    font-family: 'Mukta', sans-serif;
    font-size: 10px;
    letter-spacing: 5px;
    line-height: 18px;
    color: rgb(117, 117, 117);
}
.t3 img{
    width: 18px;
    margin-bottom: 12px;
    opacity: 0.7;
}

.t3:hover{
    cursor: pointer;
}




/*===============文案===============*/
.s2{
    position: relative;
    width: 100%;
    min-height: 430px;
    background-color: rgb(241, 241, 241);
    display: flex;                /*置中*/
    align-items: center;     
    overflow-x: hidden;     
    /* justify-content: center;       */
    z-index: 2;
}
.s2 .lo1{
    position: relative;
    margin-left: 25%;
    width: 160px;
    z-index: 2;
}
.s2 p{
    position: relative;
    margin-left: 80px;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 3px;
    z-index: 2;
}
.tb-left{
    position: absolute;
    left: -300px;
    height: 300px;
    transition: .3s;
}
.tb-right{
    position: absolute;
    right:  -100px;
    height: 300px;
    transition:.3s;
}
.tb-right:hover{
    right:  -20px;
    transition:.3s;

}
/* .tb-right:hover+.tb-left{
    left:  -380px;
    transition:.3s;
} */




/* ==============熱門商品============== */

.s3{
    padding: 100px 0px 100px 0px;
}
.s3-1{
    position: relative;
    width: 100%;
    height: 750px;
    /* background-color: #f5f3ef; */
    display: flex;
    margin: auto;

    /* border-bottom: 0.5px solid rgb(235, 235, 235); */
}
.g1{
    position: absolute;
    top: 0;
    right: 55%;
    width: 500px;
    height: 500px;
    /* background-color: rgb(255, 208, 208); */
    display: flex;
    justify-content: center;
    text-align: center;
}
.g2{
    position: absolute;
    /* top: 32%; */
    bottom: 0;
    left: 55%;
    width: 500px;
    height: 500px;
    /* background-color: rgb(255, 208, 208); */
    display: flex;
    justify-content: center;
    text-align: center;
}
.bgc{
    position: absolute;
    width: 350px;
    height: 100%;
    margin: auto;
}
.g-c{
    position: absolute;
    top: 80px;
    max-width:480px;
    opacity: 1;
}

/* 商品文字 */
.bgt{
    position: absolute;
    top: 25px;
    width: 80%;
    height: 90%;
    /* background-color: gray; */
    text-align: left;
    font-family: 'Mukta', sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
}
.g-no{
    border-bottom: 3px solid black ;
    padding-bottom: 10px;
    width: 20px;
}
.bgt .g-name{
    position: absolute;
    bottom: 0;
    /* background-color: #fff; */
}
.bgt p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
    letter-spacing: 1px;
    padding: 0;
    margin: 0;
}
.bgt h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    padding: 0;
    margin: 0;
}
.bgt h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    padding: 0;
    margin: 0;
}
.bgt .g-arrow{
    position: absolute;
    bottom: 5px;
    right: 0;
}
.g-arrow:after{              /*下底線*/
    content: '';
    width: 0%;
    height: 5px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    bottom: -10px;
    left: 0;
    transition: all .3s linear;
}
.g1:hover .g-arrow::after{
    width: 100%;
}
.g2:hover .g-arrow::after{
    width: 100%;
}

.g-new p{
    position: absolute;
    top: -25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    font-weight: lighter;
    padding: 3px 5px ;
    width: 45px;
    color: #fff;
    background-color: rgb(235, 57, 57);
}


/*hover商品*/
.g-hov{
    position: absolute;
    top: 80px;
    max-width:480px;
    opacity: 0;
    /* transition: .2s; */
}
.g1:hover .g-c{
    opacity: 0;
}
.g1:hover .g-hov{
    opacity: 1;
}
.g2:hover .g-c{
    opacity: 0;
}
.g2:hover .g-hov{
    opacity: 1;
}



@media screen and (max-width: 450px) {
    .s1 {
        height: 70vh;
        /* background-color: rgb(230, 230, 230); */
        padding: 0;
    }
    .con1 img#b1{
        width: 240%;
        left: -70%;
        /* min-width: 600px; */
    }
    .con1 img#bt1{
        position: absolute;
        top: 30%;
    }
    #c1{
        top: 20%;
    }
    #c1 img{
        width: 65%;
    }
    .c-logo{
        top: 5%;
    }
    .t1{
        top: 45%;
        right: 0;
        left: -50%;
        transform: translateX(50%);
    }
    .t1 h1,.t1 h2,.t1 p{
        color: rgb(238, 238, 238);
    }
    .t1 h1{
        font-size: 16px;
        line-height: 20px;
    }
    .t1 h2{
        font-size: 18px;
        line-height: 24px;
    }
    .t1 p{
        font-size: 12px;
        -webkit-transform-origin-x: 0;
        transform: scale(0.80); /*讓字體縮小為 12*0.8 px*/
        line-height: 18px;
    }
    .t2,.t3{
        display: none;
    }
    .c-logo{
        width: 25%;
    }
    .s2 .tb-right,.tb-left{
        display: none;
    }
    .s2 .lo1{
        display: none;
    }
    .s2 p{
        font-size: 14px;
        margin-left: 0px;
    }
    .s2{
        justify-content: center;
        height: 30vh;
        min-height: 200px;
    }
    .s3{
        padding: 50px 0px 0px 0px;
    }
    .s3-1{
        width: 100%;
        max-width: 450px;
        height: 100%;
        height: 0;
        display: inline;
    }
    .g1{
        position: relative;
        right: 0;
        width: 100%;
        /* height: 100%; */
        max-width: 450px;
        max-height: 400px;
        /* background-color: rgb(170, 170, 170); */
    }
    .g2{
        position: relative;
        left: 0;
        width: 100%;
        max-width: 450px;
        max-height: 400px;
        /* background-color: rgb(170, 170, 170); */
    }
    .bgc{
        width: 60%;
        height: 90%;
        /* max-width: 300px; */
    }
    .g-c{
        top: 18%;
        width: 75%;
    }
    .g-hov{
        top: 18%;
        width: 75%;
    }
    .bgt{
        width: 70%;
        height: 80%;
    }
    .bgt p{
        font-size: 15px;
    }
    .bgt h1{
        font-size: 20px;
        line-height: 20px;
    }
    .bgt h2{
        font-size: 16px;
    }
    .g-new p{
        font-size: 7px;
    }
}
