#sec-1{
  width: 100%;
  min-height: 700px;
}
.intro-back {
  border-radius: 10px;
  /* height: 94vh; */
  display: flex;
  /* background-color: lightgray; */
}
.intro-sec1 {
  margin-top: 12%;
  display: flex;
  justify-content: center;
  width: 100%;
  /* background-color: aquamarine; */
}


/* 商品照slider */
.slider {
  width: 540px;
  height: 520px;
  overflow: hidden;
  margin-right: 30px;
  text-align: center;
}
.slides {
  width: 500%;
  /* height: 400px; */
  display: flex;
}
.slides input {
  display: none;
}
.slides input:checked {
  border: 1px solid #7e7e7e;
}
.slide {
  width: 20%;
  transition: 1s;
  background-color: #f0f0f0;
  padding: 10px;
}
.slide img {
  width: 500px;
  height: 100%;
  /* margin-top: -5%; */
}
#radio1:active{
  color: #000;
}


/*Slider按鈕*/
.navigation-manual {
  position: absolute;
  width: 500px;
  margin-top: -50px;
  margin-left: 15px;
  display: flex;
  justify-content: center;
}
.manual-btn {
  border: 1px solid #7e7e7e;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: .5s;
}
.manual-btn:not(:last-child) {
  margin-right: 40px;
}
.manual-btn:hover {
  background: #b1b1b1;
}
#radio1:checked~.first {
  margin-left: 0;
}
#radio2:checked~.first {
  margin-left: -20%;
}
#radio3:checked~.first {
  margin-left: -40%;
}




/* ========== 商品資訊 ========== */
.intro-main1 {
  margin-left: 50px;
  /* background-color: cadetblue; */
}

.p-name h1{
  font-family: 'Mukta', sans-serif;
  font-size: 28px;
  line-height: 20px;
  letter-spacing: 3px;
  font-weight: 700;
}
.p-name h2{
  font-family: 'Mukta', sans-serif;
  font-size: 22px;
  line-height: 20px;
  letter-spacing: 2px;
}
.p-price{
  font-family: 'Mukta', sans-serif;
  font-size: 22px;
  letter-spacing: 2px;
  margin: 25px 0px 25px 0px;
}
.p-invent{
  font-family: 'Mukta', sans-serif;
  font-size: 14px;
  color: rgb(119, 119, 119);
}

/* 數量、購物車、購買按鈕 */
.p-flex{
  display: flex;
}
.p-qt input{
  font-family: 'Mukta', sans-serif;
  font-size: 16px;
  background:none;
  border: none;
  width: 40px;
  height: 40px;
  margin: 0px 3px;
  text-align: center;
}
.p-qt{
  border: 1px solid #b1b1b1;
  padding: 0px 8px;
  /* width: 135px; */
}
.add{
  font-family: 'Mukta', sans-serif;
  font-size: 14px;
  letter-spacing: 3px;
  padding: 0px 52px;
  margin-left: 10px;
  background-color: #ececec;
  border: 1px solid #b1b1b1;
  cursor: pointer;
}
.fav{
  font-size: 20px;
  line-height: 40px;
  padding: 0px 13px;
  margin-left: 10px;
  background-color: #dfcccc;
  border: 1px solid #b1b1b1;
  cursor: pointer;
}
.buy{
  font-family: 'Mukta', sans-serif;
  font-size: 14px;
  letter-spacing: 3px;
  height: 43px;
  width: 100%;
  margin-top: 10px;  
  color: #fff;
  background-color: #353535;
  border: 1px solid #353535;
  transition: .3s;
  margin-bottom: 35px;
}

.buy:hover{
  cursor: pointer;
  color: #000;
  background: none;
}


/* 商品描述 */
.p-tab {
  font-family: 'Mukta', sans-serif;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  width: 450px;
  /* background-color: #f1f1f1; */
}

.p-tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 16px;
  transition: 0.3s;
  font-size: 15px;
  letter-spacing: 3px;
  color: #353535;
}


.p-tab button.active {
  color: #0f0f0f;
  border-bottom: 1px solid #353535;
}
.tabcontent {
  font-family: 'Mukta', sans-serif;
  width: 450px;
  display: none;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 1px;
  font-family: 'Mukta', sans-serif;
  padding: 12px 12px;
  border-top: none;
}


/* ========== 推薦商品 ========== */

#sec1-2{
  display: flex;
  justify-content: center;
  padding: 80px 0px 50px 0px;
}
#sec1-2 h1{
  font-family: 'Mukta', sans-serif;
  letter-spacing: 2px;
  font-size: 26px;
  text-align: center;
}

.p-recomm{
  display: flex;
}
.p-recomm .prod{
  text-align: center;
  margin: 30px;
}
.p-recomm img{
  width: 280px;
  min-height: 280px;
  background-color: #f0f0f0;
  margin-bottom: 15px;
  opacity: 1;
}
.p-recomm h2{
  font-family: 'Mukta', sans-serif;
  letter-spacing: 2px;
  font-size: 24px;
  line-height: 16px;
}
.p-recomm p{
  font-family: 'Mukta', sans-serif;
  letter-spacing: 2px;
  font-size: 20px;
  line-height: 14px;
}
.p-recomm button{
  font-family: 'Mukta', sans-serif;
  font-size: 14px;
  letter-spacing: 3px;
  padding: 10px 40px;
  color: #FFFFFF;
  background-color: #353535;
  border: 1px solid #353535;
  cursor: pointer;
  transition: .3s;
  margin-top: 20px;
}

.p-recomm img:hover{
  opacity: 0.8;
}
.p-recomm button:hover{
  color: #000;
  background: none;
}




/* ========== 商品留言板 ========== */
.intro-back2 {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
  min-height: 650px;
  padding: 100px 0px;
}

/* 評價 */
.p-comment{
  width: 450px;
  margin-right: 50px;
}
.p-comment h1{
  font-family: 'Mukta', sans-serif;
  letter-spacing: 2px;
  font-size: 26px;
  text-align: center;
}
.p-comment p{
  font-family: 'Mukta', sans-serif;
  font-size: 16px;
}
.p-comment input{
  font-family: 'Mukta', sans-serif;
  font-size: 16px;
  color: #202020;
  width: 100%;
  border: none;
  border-bottom: 1px solid #353535;
  padding: 2px 0px;
  margin: 20px 0px;
  outline: none;  /*點擊時不要出現邊框*/
}
.p-comment textarea{
  font-family: 'Mukta', sans-serif;
  font-size: 16px;
  color: #353535;
  resize: none;
  width: 100%;
  height: 150px;
  border: 1px solid #353535;
  outline: none;  /*點擊時不要出現邊框*/
}
::placeholder{
  color: #000000;
}
.p-comment button{
  font-family: 'Mukta', sans-serif;
  font-size: 14px;
  letter-spacing: 3px;
  height: 40px;
  width: 100%;
  color: #fff;
  background-color: #353535;
  border: 1px solid #353535;
  transition: .3s;
  margin-top: 15px;
  cursor: pointer;
}
.p-comment button:hover{
  cursor: pointer;
  color: #000;
  background: none;
}

/* 星等 */
.rating {
  position: relative;
  transform: rotateY(180deg);
  display: flex;
}
.rating input {
  display: none;
}
.rating label {
  display: block;
  cursor: pointer;
  /* width: 30px; */
  /* background: rgba(94, 94, 94, 0.829); */
}
.rating label:before {
  content: '★';
  /* position: relative; */
  display: block;
  font-size: 25px;
  color: #ebebeb;
  margin-right: 5px;
}
.rating label:after {
  content: '★';
  position: absolute;
  display: block;
  font-size: 25px;
  color: rgb(243, 213, 114);
  top: 0;
  opacity: 0;
  transition: .3s;
  text-shadow: 0;
}
.rating label:hover:after,
.rating label:hover~label:after,
.rating input:checked~label:after {
  opacity: 1;
}

/* 評價紀錄 */
.p-review {
  width: 500px;
  height: 100%;
  min-height: 420px;
  margin-left: 80px;
  background-color: #f0f0f0;
  padding: 0px 30px 30px 30px;
}
.p-review h1{
  font-family: 'Mukta', sans-serif;
  letter-spacing: 2px;
  font-size: 26px;
  text-align: center;
  margin-bottom: 30px;
}
.p-review p{
  font-family: 'Mukta', sans-serif;
  font-size: 15px;
}
.viewbox{
  border-bottom: 1px dashed black;
  padding-bottom: 10px;
  margin-top: 20px;
}
.viewicon {
  width: 30px;
  margin-right: 5px;
  /* vertical-align: sub; */
}
.v-name {
  font-family: 'Mukta', sans-serif;
  font-size: 16px;
  margin-right: 10px;
  /* vertical-align: text-bottom; */
}
.v-star {
  color: rgb(243, 213, 114);
}
.v-txt {
  margin-top: 12px;
  margin-left: 40px;
}


/* 上拉 */
.scroll-up {
  position: relative;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  width: 30px;
  border: 2px solid #c0c0c0;
  border-radius: 50px;
  cursor: pointer;
  z-index: 100;
}

.scroll-up::before,
.scroll-up::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 2px solid #c0c0c0;
  border-bottom: transparent;
  border-right: transparent;
  animation: scroll-up 1s ease-in-out infinite;
}

.scroll-up::before {
  top: 30%;
  animation-delay: 0.3s;
}

@keyframes scroll-up {
  100% {
    /* top:20%; */
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  30% {
    opacity: 1;
  }

  0% {
    top: 90%;
    opacity: 0;
  }
}


/* Footer */
.foot {
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: rgb(243, 243, 243);
  text-align: center;
  align-items: center;
  /*置中*/
  justify-content: center;
  /*置中*/
  padding: 35px;
}

.foot p {
  font-size: 12px;
  letter-spacing: 1px;
}



@media screen and (max-width: 450px) {
  #sec-1{
    max-width: 450px;
    /* display: none; */
  }
  .intro-sec1 {
    margin-top: 25%;
    display: inline-block;
  }
  .slider {
    width: 300px;
    height: 300px;
    margin-right: 0px;
    margin: auto;
  }
  .slide img {
    width: 100%;
  }
  .navigation-manual {
    width: 300px;
    margin-left: 0px;

  }
  .intro-main1 {
    width: 85%;
    margin-left: 0px;
    margin: auto;
  }
  .p-name h1{
    margin-top: 20px;
    font-size: 22px;
    line-height: 18px;
  }
  .p-name h2{
    font-size: 18px;
    line-height: 14px;
  }
  .p-price{
    font-size: 16px;
    margin: 15px 0px;
  }
  .p-invent{
    font-size: 12px;
  }
  .p-qt input{
    width: 30%;
    height: 40px;
    margin: 0px;
  }
  .p-qt{
    padding: 0px;
    width: 35%;
  }
  .add{
    font-size: 12px;
    width: 50%;
    padding: 0px ;
  }
  .buy{
    font-size: 12px;
    height: 40px;
    width: 100%;
    margin-top: 5px;  
    margin-bottom: 30px;
  }
  .p-tab {
    width: 100%;
  }
  .p-tab button {
    padding: 5px 16px;
    font-size: 13px;
  }
  .tabcontent {
    width: 100%;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    padding: 10px;
  }
  #sec1-2 h1{
    font-size: 22px;
  }
  .p-recomm{
    display: inline-block;
  }

  .p-recomm .prod{
    margin: 30px;
  }
  .p-recomm img{
    width: 230px;
    min-height: 230px;
    margin-bottom: 10px;
  }
  .p-recomm h2{
    font-size: 18px;
    line-height: 10px;
  }
  .p-recomm p{
    font-size: 14px;
    line-height: 10px;
  }
  .p-recomm button{
    font-size: 12px;
    padding: 8px 40px;
    margin-top: 10px;
  }
  .intro-back2 {
    width: 100%;
    display: inline-block;
    padding: 30px 0px;
  }
  .p-comment{
    width: 100%;
    padding-left: 10%;
    margin-bottom: 30px;
  }
  .p-comment h1{
    font-size: 22px;
  }
  .p-comment p{
    font-size: 12px;
  }
  .p-comment input{
    font-size: 12px;
    width: 90%;
    padding: 2px 0px;
    margin: 20px 0px;
  }
  .p-comment textarea{
    font-size: 16px;
    width: 90%;
    height: 120px;
  }
  .rating {
    display: none;
  }
  .p-comment button{
    font-size: 12px;
    width: 90%;
    margin-top: 10px;
  }
  .rating label:before {
    font-size: 18px;
    margin-right: 5px;
  }
  .rating label:after {
    font-size: 18px;
  }
  .p-review {
    width: 90%;
    height: 100%;
    min-height: 400px;
    margin-left: 0px;
    margin: auto;
    margin-top: 20px;
  }
  .p-review h1{
    font-size: 22px;
    margin-bottom: 30px;
  }
  .p-review p{
    font-family: 'Mukta', sans-serif;
    font-size: 15px;
  }
  .viewbox{
    padding-bottom: 10px;
    margin-top: 20px;
  }
  .v-name {
    font-size: 14px;
    margin-right: 10px;
  }
  .scroll-up {
    display: none;
  }
  

}