
.s1 {
  width: 100%;
  height: 100%;
  display: flex;             /*置中*/
  justify-content: center;   /*置中*/
  align-items: center;       /*置中*/
}

/* 背景小圖 */
.ugly1 {
  position: absolute;
  height: 350px;
  top: 10%;
  left: -24%;
}
.ugly2 {
  position: absolute;
  left: 96%;
  top: 58%;
  height: 250px ;
  transform: rotate(20deg)
}

.container2 {
  position: relative;
  height: 500px;
  width: 1000px;
  margin-top: 8%;
  /* padding: 40px; */
  /* border-radius: 12px; */
  background-color: rgba(245, 245, 245, 0.932);
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* 左側選單 */
.content .list {
  display: flex;
  flex-direction: column;
  width: 12%;
  position: relative;
  margin: 60px 5%;
}
.content .list label {
  font-family: 'GenRyuMin-M';
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 50px;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
  color: rgb(0, 0, 0);
  z-index: 12;
}

#modify:checked~.list label.modify,
#record:checked~.list label.record {
  color: #fff;
}
.content .list label:hover {
  color: #5c5c5c;
}
.content .slider {
  position: absolute;
  left: 0;
  top: 0;
  height: 50px;
  width: 100%;
  border-radius: 3px;
  background: #9c9c9c;
  transition: all 0.4s ease;
}
#modify:checked~.list .slider {
  top: 0px;
}
#record:checked~.list .slider {
  top: 50px;
}
.content .text-content {
  width: 80%;
  height: 100%;
}
.content .text {
  display: none;
}
.content .text .title {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 500;
}
.content .text p {
  text-align: justify;
}

#modify:checked~.text-content .modify,
#record:checked~.text-content .record {
  display: block;
}
.content input {
  display: none;
}

/* 個人資料 */
.text-content input {
  display: block;
}
.p-table {
  position: absolute;
  top: 80px;
}
.p-table td {
  padding: 10px;
  font-size: 18px;
  line-height: 24px;
}

.t-left{
  text-align: right;
  margin-right: 30px;
}

/* ========== 修改資料 ========== */
.rr {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 15%;

}
.rr .info{
  margin-right: 50px;
  text-align: center;
}
.rr p {
  font-family: 'GenRyuMin-B';
  letter-spacing: 1px;
  font-size: 18px;
  margin-left: 120px;
}
.mod-txt input{
  width: 300px;
  font-family: 'Mukta', sans-serif;
  font-size: 16px;
  color: #202020;
  background: none;
  border: none;
  border-bottom: 1px solid #202020;
  padding: 2px 0px;
  letter-spacing: 1px;
  margin: 20px 0px;
  outline: none;  /*點擊時不要出現邊框*/
}

/* 送出按鈕 */
.p-sub {
  font-family: 'Mukta', sans-serif;
  font-size: 14px;
  letter-spacing: 3px;
  padding: 8px 40px;
  color: #FFFFFF;
  background-color: #353535;
  border: 1px solid #353535;
  cursor: pointer;
  transition: .3s;
  margin: 40px 0px 0px 150px;
}
.p-sub:hover{
  cursor: pointer;
  color: #000;
  background: none;
}

.acc h2{
  font-family: 'GenRyuMin-R';
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 2px;
  margin-top: 125px;
  margin-left: 20px;
}


/* 訂單紀錄 */
.r-table{
  position: absolute;
  top: 15%;
  width: 72%;
  border-collapse: collapse;

}
.r-table th{
  /* border: 1px solid black; */
  font-size: 18px;
  letter-spacing: 1px;
  padding-bottom: 10px;
  text-align: left;
}
.r-table td{
  /* border: 1px solid black; */
  font-size: 16px;
  letter-spacing: 1px;
  padding: 5px 0px;
}
.r-table td span{
  font-size: 13px;
  letter-spacing: 1px;
}




/* Footer */
.foot {
  position: fixed;
  bottom: 0;
}


@media screen and (max-width: 450px) {
  .ugly1{
    display: none;
  }
  .ugly2{
    display: none;
  }
  .container2 {
    height: 550px;
    width: 380px;
    margin-top: 18%;
  }
  .content .list {
    margin: 20px 3%;
  }
  .content .list label {
    font-size: 14px;
    line-height: 20px;
  }
  .content .slider {
    height: 50%;
    width: 100%;
  }
  #record:checked~.list .slider {
    top: 40px;
  }
  .content .text-content {
    width: 100%;
  }
  .rr {
    display: inline-block;
    top: 8%;
    margin-left: 20px;
  }
  .rr .info{
    margin-right: 0px;
  }
  .rr p {
    font-size: 14px;
    margin-left: 90px;
  }
  .mod-txt input{
    width: 250px;
    font-size: 12px;
    margin: 10px 0px;
  }
  .p-sub {
    font-size: 12px;
    padding: 5px 26px;
    margin: 20px 0px 30px 138px;
  }
  .acc h2{
    font-size: 12px;
    letter-spacing: 2px;
    margin-top: 0px;
    margin-left: 20px;
  }
  .r-table{
    top: 10%;
    width: 80%;
  }
  .r-table th{
    font-size: 12px;
  }
  .r-table td{
    /* border: 1px solid black; */
    font-size: 12px;
    letter-spacing: 1px;
    padding: 5px 0px;
  }
  .r-table td span{
    font-size: 12px;
    letter-spacing: 1px;
  }
  .dis{
    display: none;
  }
}